// template colors
$primary-color: #00a600;
$secondary-color: #3dff74;
$online-color: #e6b800;
$sent-message-color: #96beff;
$received-message-color: #69db69;

// greyscale colors
$highlight-color: #777;

// property colors
$background-color: #ddd;
$hover-color: #aaa;