#chat-page {
  height: 100vh;

  .header {
    position: relative;
    height: 100px;
    border-bottom: solid 3px $primary-color;

    .contact-box {
      position: absolute !important;
      top: 5px;
      right: 25px;
    }

    .logout-button {
      position: absolute;
      top: 30px;
      left: 60px;
    }
  }

  .contacts-list {
    display: inline-block;
    width: 350px;
    height: calc( 100% - 100px);
    border-left: solid 3px $primary-color;
    vertical-align: top;
    overflow-y: auto;

    .contact {
      padding: 5px 0;
      cursor: pointer;

      .contact-box {
        margin: auto;
      }
    }

    .contact:hover {
      background-color: $hover-color;
    }

    .contact.active {
      background-color: $primary-color;
    }
  }

  .chat-area {
    display: inline-block;
    width: calc( 100% - 350px );
    height: calc( 100% - 100px);
    vertical-align: top;

    .messages {
      height: calc( 100% - 150px );
      border-bottom: solid 3px $primary-color;
      overflow-y: auto;
    }

    .input-container {
      height: 150px;
      text-align: center;

      .input {
        width: 70%;
        height: 70px;
        margin: 40px 20px;
        border-radius: 10px;
      }
    }
  }
}
